<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Message Board</h1>

<form method="post" th:action="@{/}">
    <label for="text">Message:</label>
    <textarea id="text" name="text"></textarea><br>

    <button type="submit">Submit</button>
</form>

<hr>

<h2>Messages:</h2>
<ul>
    <li th:each="message : ${messages}">
        <strong th:text="${message.id}"/>
        <strong>comment</strong>: <span th:text="${message.text}"/>
    </li>
</ul>
</body>
</html>